{% extends "Admin_Page.html" %}
{% load static %}

{% block title %}Books{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'Styles/Admin_Landing_books.css' %}" />
{% endblock extra_css %}

{% block content %}
<h1>Welcome "name" to ShelfMate</h1>

<main>
    <div class="top-header">
            <h2>Available Books</h2>
            <div class="sort-dropdown">
                <span class="material-symbols--sort" title="Sort"></span>
                <div class="sort-menu" id="sortMenu">
                    <button>New</button>
                    <button>Old</button>
                    <button>Available</button>
                    <button>Unavailable</button>
                </div>
            </div>
        </div>

    <div class="book-row">
    {% for x in books %}
    <div class="book-container">
        <a href="{% url 'admin_book_details' x.book_id %}">
            <img src="{{ x.image.url }}" alt="{{ x.book_name }}"/>
        </a>
        <div class="book-description">
            <h2>
                <a href="{% url 'admin_book_details' x.book_id %}">{{ x.book_name }}</a>
                <span class="mynaui--book-check"></span>
            </h2>
            <a href="{% url 'admin_book_details' x.book_id %}"><p>{{ x.author_name }}</p></a>
        </div>
    </div>
    {% endfor %}
    </div>


</main>
{% endblock content %}

{% block extra_scripts %}
<script src="{% static 'JavaScript/Admin_page.js' %}"></script>
{% endblock extra_scripts %}