{% extends "Admin_Page.html" %}
{% load static %}

{% block title %}{{ book.book_name }}{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'Styles/Admin_Book_Details.css' %}">
{% endblock extra_css %}


{% block content %}
<section>
    <div class="container" >
        <div class="book-cover">
            <img src="{{ book.image.url }}" alt="{{ book.book_name }} book cover" >
        </div>

        <div class="book-details">
            <!-- Edit and delete icons -->
            {% if book %}
                <a class="basil--edit-solid" href="{% url 'edit_book' book.book_id %}"></a>
            {% endif %}
            <a class="lets-icons--trash-light" href="javascript:void(0);" onclick="showDeleteAlert()"></a>

            <h1 id="book-title">{{ book.book_name}}</h1>

            <p>
                
                    <u>{{ book.category }}</u>
                
            </p>
            
            <div class="border-box">
                <p><a href="https://www.google.com/search?q={{ book.author_name }}" id="Authorname">{{ book.author_name }}</a></p>
                <p id="Author">Author</p>
            </div>
            <br>
            <p>{{ book.pages }} Pages</p>
            <br>
            <p class="stock">Left in Stock: {{ book.available}}</p>
            <br>
            {% comment %} <p class="stock">Borrowed Count: {{ book.borrowedCount }}</p>                  {% endcomment %}
        </div>
    </div>

    <!--Description-->
    <div class="book-description">
        <h1>About Book</h1>
        <div class="about-book">
            <p>{{ book.description|linebreaks }}</p>
        </div>
    </div>
</section>

<form id="deleteBookForm" method="POST" action="{% url 'delete_book' book.book_id %}" style="display:none;">
    {% csrf_token %}
</form>

<div id="customAlert" class="custom-alert">
    <div class="alert-box">
        <p id="alertMessage">Are you sure you want to delete this book?</p>
        <div class="alert-buttons">
            <button onclick="closeAlert()">No</button>
            <button onclick="document.getElementById('deleteBookForm').submit();">Yes</button>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_scripts %}
<script>
    const LandingURL = "{% url 'books' %}";
<script src="{% static 'JavaScript/Admin_Page.js' %}"></script>
<script src="{% static 'JavaScript/Admin_Book_Details.js' %}"></script>
{% endblock extra_scripts %}
