{% extends "Admin_Page.html" %}
{% load static %}

{% block title %}Admin Edit Book{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'Styles/Admin_Edit_Book.css' %}" />
{% endblock extra_css %}

{% block content %}
<section class="Main_interface">
    <div class="title_of_page">
        <p>Edit Book</p>
    </div>
    <div class="content_screen">
        <form method="post" enctype="multipart/form-data" action="{% url 'edit_book' book.book_id %}">
            {% csrf_token %}

            <div class="Tabs">
                <p class="input_title">{{ form.book_name.label }}</p>
                {{ form.book_name }}
                {{ form.book_name.errors }}
            </div>

            <div class="Tabs">
                <p class="input_title">{{ form.author_name.label }}</p>
                {{ form.author_name }}
                {{ form.author_name.errors }}
            </div>

            <div class="Tabs">
                <p class="input_title">{{ form.category.label }}</p>
                {{ form.category }}
                {{ form.category.errors }}
            </div>

            <div class="Tabs">
                <p class="input_title">{{ form.description.label }}</p>
                {{ form.description }}
                {{ form.description.errors }}
            </div>

            <div class="Tabs last">
                <div class="input_group">
                    <p class="input_title page">{{ form.pages.label }}</p>
                    {{ form.pages }}
                    {{ form.pages.errors }}
                </div>
                <div class="input_group">
                    <p class="input_title page">{{ form.Stock.label }}</p>
                    {{ form.Stock }}
                    {{ form.Stock.errors }}
                </div>
            </div>

            <div>
                <p class="input_title">{{ form.image.label }}</p>
                {{ form.image }}
                {{ form.image.errors }}

                <button type="submit" class="submit"><p>Save Changes</p></button>
            </div>
        </form>
    </div>

    <div id="custom-alert" class="custom-alert hidden">
        <div class="alert-content">
            <p id="alert-message"></p>
            <button id="close-alert">OK</button>
        </div>
    </div>
</section>

{% block extra_scripts %}
<script>
const booksURL = "{% url 'admin_book_details' book.book_id %}";

    </script>
<script src="{% static 'JavaScript/Admin_page.js' %}"></script>
<script src="{% static 'JavaScript/Admin_Add_Book.js' %}"></script>
{% endblock extra_scripts %}
{% endblock %}
